# Exercises pandas Series

In [7]:
#Import the necessary packages
import pandas as pd;

## 1. Train delay
### Part 1

`delay_data` is a dictionary containing the average delay (in minutes) the trains of a certain station have. 
* Create a Series `train_delay` using this dictionary

In [11]:
delay_data = {"Brussel": 6.34, "Antwerpen": 5.45, "Brugge": 4.12, "Gent": 2.45, "Hasselt": 6.08}

# Your code
train_delay = pd.Series(delay_data)

Some cities have several stations, which is not specified in the dictionary. Change the index of Brussel, Antwerpen and Gent, to Brussel-Centraal, Antwerpen-Centraal and Gent-Sint-Pieters respectively.

In [16]:
# Your code
train_delay = train_delay.rename(index={
    "Brussel": "Brussel-Centraal",
    "Antwerpen": "Antwerpen-Centraal",
    "Gent": "Gent-Sint-Pieters"
})

* Create a new Series only containing the data of Brussels and Gent.

In [17]:
# Your code
brussel_gent_delay = train_delay[["Brussel-Centraal", "Gent-Sint-Pieters"]]

### Train delay part 2

* Display the average delay time of Antwerpen.

In [18]:

# Your code
print("Average delay for Antwerpen-Centraal:", train_delay["Antwerpen-Centraal"])

Average delay for Antwerpen-Centraal: 5.45

Rumors say that train company *Chuck Chuck* only labels a train as delayed when they arrive at least 6 minutes late. Filter the series to only show the stations with an average delay of at least 6 minutes. Save the resulting Series in a new variable.

In [19]:
delayed_stations = train_delay[train_delay >= 6]
print("Stations with delay >= 6 minutes:")
print(delayed_stations)

Stations with delay >= 6 minutes:
Brussel-Centraal    6.34
Hasselt             6.08
dtype: float64

Oops, there was a wrong data entry in the data set. The average train delay in Brussel-Centraal is not 6.34 min but 8.34 min. Change the data of our Series train_delay.

In [20]:
train_delay["Brussel-Centraal"] = 8.34

Display following data using the appropriate attribute.
* The indices of the Series
* The values of the Series
* How many values the Series contains
* The datatype of the elements of the Series

In [24]:
print("Indices of the Series:", train_delay.index.tolist())
print("Values of the Series:", train_delay.values.tolist())
print("Number of values in the Series:", len(train_delay))
print("Datatype of the Series elements:", train_delay.dtype)

Indices of the Series: ['Brussel-Centraal', 'Antwerpen-Centraal', 'Brugge', 'Gent-Sint-Pieters', 'Hasselt']
Values of the Series: [8.34, 5.45, 4.12, 2.45, 6.08]
Number of values in the Series: 5
Datatype of the Series elements: float64

## 2. Zoo animals

`Animal_counts` is a dictionary containing the amount of animals of a certain type are living in the local zoo.

In [ ]:
animal_counts = {
    "Lion": 5,
    "Elephant": 3,
    "Giraffe": 7,
    "Zebra": 12,
    "Kangaroo": 4,
    "Penguin": 15,
    "Panda": 2,
    "Tiger": 6,
    "Flamingo": 8,
    "Crocodile": 3
}

**Basic Series operations**
* Create a Series `zoo_animals` using this dictionary
* Show how many Giraffes and Tigers there are.
* Print the total number of animals in the zoo.
* Print the list of animal species.
* Print the list of animal counts.

In [40]:
animal_counts = {
    "Lion": 5,
    "Elephant": 3,
    "Giraffe": 7,
    "Zebra": 12,
    "Kangaroo": 4,
    "Penguin": 15,
    "Panda": 2,
    "Tiger": 6,
    "Flamingo": 8,
    "Crocodile": 3
}
zoo_animals = pd.Series(animal_counts)
print("There are ", zoo_animals["Giraffe"],"Giraffes and ", zoo_animals["Tiger"], "Tigers")
print("The total amount of animals in a zoo is ", zoo_animals.sum())
print("The species available are ", zoo_animals.index.tolist())
print("The list of available animals  are ", zoo_animals.values.tolist())

There are  7 Giraffes and  6 Tigers
The total amount of animals in a zoo is  65
The species available are  ['Lion', 'Elephant', 'Giraffe', 'Zebra', 'Kangaroo', 'Penguin', 'Panda', 'Tiger', 'Flamingo', 'Crocodile']
The list of available animals  are  [5, 3, 7, 12, 4, 15, 2, 6, 8, 3]

**Filtering and data manipulation**
* Display the animals who are at least with 5 of their kind.
* Create a new Series only containing the data of the animals with a count of 3 or less.
* Jippieeee! A panda was born! Increase the number of pandas with 1.
* Joan the Crocodile has found a lover in the Berlin zoo and moves together with their 2 mates to Berlin. Remove the crocodile data frome the Series.
* Oops, we forgot to count the Koala's. Add 3 koala's to the Series.

In [58]:
same_animals = zoo_animals[zoo_animals >= 5]
print("There are more than or atleast 5 of these animals ")
print(same_animals)

animals_three_orless = zoo_animals[zoo_animals <= 3]
print("There are less than or atleast 3 of these animals ")
print(animals_three_orless)

zoo_animals["Panda"] += 1

zoo_animals["Koala"] = 3
print(zoo_animals)

There are more than or atleast 5 of these animals
Lion         5
Giraffe      7
Zebra       12
Penguin     15
Panda       12
Tiger        6
Flamingo     8
dtype: int64
There are less than or atleast 3 of these animals
Elephant    3
dtype: int64
Lion         5
Elephant     3
Giraffe      7
Zebra       12
Kangaroo     4
Penguin     15
Panda       13
Tiger        6
Flamingo     8
Koala        3
dtype: int64